{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="app-content-header">
        <h1 class="app-content-headerText">{{ username }}</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <a style="display: flex; align-items: center; margin-right: 10px;" class="app-content-headerButton" href={% url "patients:newtaking" %}>Создать прием</a>
        <button class="app-content-headerButton">Редактировать</button>

    </div>

    <div class="patient">
        <div class="patient__content">
            <div class="patient__content_user">
                <p class="patient__content-TextName">{{ first_name }} {{ username }}</p>
                <p class="patient__content-TextID">id: {{ id }}</p>
            </div>

            <div class="patient__content_info">
                <p class="patient__content-TextField">Группа: {{ groups }}</p>
                <p class="patient__content-TextField">Телефон: {{ phone_number }}</p>
                <p class="patient__content-TextField">Количество воды: {{ portion_of_water }}</p>
            </div>
        </div>
    </div>
{% endblock %}
