@charset "UTF-8";
/**
  Нормализация блочной модели
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --bgColor-primary: #d9d9d9;
  --bgColor-inverse: #000000;
  --bgColor-footer: #464a53;
  --color-gray: #394a58;
  --color-red: #FA5252;
  --color-green: #a3a86b;
  --color-blue: #0066a1;
  --color-white: #ffffff;
}

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47,1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--bgColor-primary);
}

a, button, input, svg, textarea * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 5px;
  color: white;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 5px;
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  font-size: 20px;
  background-color: var(--sidebar);
  color: white;
}
.mobile-overlay:modal {
  max-height: 100%;
  max-width: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.mobile-overlay__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
}
.mobile-overlay__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 12%;
  translate: -50%;
  width: 25%;
  height: 2px;
  background-color: currentColor;
  transition: inherit;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .app-container {
    display: grid;
    grid-template-rows: 60px 1fr;
  }
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
  background-color: var(--sidebar-active-link);
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}
@media (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.sidebarMobile {
  background-color: var(--sidebar);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sidebarMobile-header {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
}
.sidebarMobile-list {
  display: flex;
  flex-direction: row;
}
.sidebarMobile-list-item {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebarMobile-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebarMobile-list-item svg {
  margin-right: 8px;
}
.sidebarMobile-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebarMobile-list-item.active {
  background-color: var(--sidebar-active-link);
}
.sidebarMobile-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}
@media (max-width: 767px) {
  .sidebarMobile-list {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sidebarMobile {
    display: none;
  }
}

.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--app-content-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
}
.mode-switch .moon {
  fill: var(--app-content-main-color);
}

.mode-switch.active .moon {
  fill: none;
}

.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-info-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-info-more {
  color: var(--sidebar-main-color);
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .account-info {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .account-info {
    display: none;
  }
}

.account-infoMobile {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.account-infoMobile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-infoMobile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-infoMobile-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-infoMobile-more {
  color: var(--sidebar-main-color);
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.app-icon {
  color: var(--sidebar-main-color);
  display: flex;
}
.app-icon svg {
  width: 24px;
  height: 24px;
}
.app-icon_text {
  font-size: 20px;
  color: var(--sidebar-main-color);
}

.search-bar {
  background-color: var(--app-content-secondary-color);
  border: 1px solid var(--app-content-secondary-color);
  color: var(--app-content-main-color);
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0 10px 0 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
  max-width: 320px;
  transition: 0.2s;
}
.light .search-bar {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar::placeholder {
  color: var(--app-content-main-color);
}
.search-bar:hover {
  border-color: var(--action-color-hover);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:focus {
  outline: none;
  border-color: var(--action-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.app-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.app-content-headerText {
  color: var(--app-content-main-color);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.app-content-headerButton {
  background-color: var(--action-color);
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
}
.app-content-headerButton:hover {
  background-color: var(--action-color-hover);
}
.app-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}
.app-content-actions-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tableView {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.tableView .products-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.2fr;
  align-items: center;
  border-radius: 4px;
  background-color: var(--app-content-secondary-color);
  position: sticky;
  top: 0;
}
.tableView .products-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.2fr;
  align-items: center;
  border-radius: 4px;
}
.tableView .products-row:hover {
  box-shadow: var(--filter-shadow);
  background-color: var(--app-content-secondary-color);
}
.tableView .products-row .cell-more-button {
  display: none;
}
.tableView .product-cell {
  flex: 1;
  padding: 8px 16px;
  color: var(--app-content-main-color);
  font-size: 14px;
  display: flex;
  align-items: center;
}
.tableView .product-cell img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 6px;
}
.tableView .sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--app-content-main-color);
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.tableView .sort-button:hover {
  color: var(--action-color);
}
.tableView .sort-button svg {
  width: 12px;
}
.tableView .cell-label {
  display: none;
}

.gridView {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
@media screen and (max-width: 520px) {
  .gridView {
    margin: 0;
  }
}
.gridView .products-header {
  display: none;
}
.gridView .products-row {
  margin: 8px;
  width: calc(25% - 16px);
  background-color: var(--app-content-secondary-color);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}
.gridView .products-row:hover {
  transform: scale(1.01);
  box-shadow: var(--filter-shadow);
}
.gridView .products-row:hover .cell-more-button {
  display: flex;
}
.gridView .product-cell {
  color: var(--app-content-main-color);
  font-size: 14px;
  margin-bottom: 8px;
}
.gridView .product-cell:not(.image) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridView .product-cell.image span {
  font-size: 18px;
  line-height: 24px;
}
.gridView .product-cell img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}
.gridView .cell-label {
  opacity: 0.6;
}

.profile {
  margin-top: 2%;
  font-size: 28px;
  padding: 0 10px;
  column-gap: 30px;
  row-gap: 50px;
  display: grid;
  grid-template-columns: 250px 1fr;
}
@media (max-width: 767px) {
  .profile {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.profile__image {
  background-color: var(--app-content-secondary-color);
  border-radius: 20px;
  padding: 20px;
}
.profile__image img {
  width: 250px;
  height: 250px;
  margin-inline: auto;
  border-radius: 20px;
}
.profile__card {
  background-color: var(--app-content-secondary-color);
  border-radius: 20px;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 15px;
  align-items: end;
}
@media (max-width: 767px) {
  .profile__card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
.profile__card-label {
  font-size: 18px;
  font-weight: normal;
  color: var(--app-content-main-color);
}
.profile__card-select {
  width: 100%;
  height: 30px;
  border: var(--app-content-main-color) solid 1px;
  background-color: transparent;
  border-radius: 10px;
  color: var(--app-content-main-color);
  padding-left: 10px;
  font-size: 16px;
}
.profile__card-select option {
  border: var(--app-content-main-color) solid 1px;
  background-color: transparent;
  color: var(--app-content-main-color);
  padding-left: 10px;
  font-size: 16px;
}
.profile__card-input {
  width: 100%;
  height: 100%;
  border: var(--app-content-main-color) solid 1px;
  color: var(--app-content-main-color);
  background-color: transparent;
  border-radius: 10px;
}
.profile__card-input::placeholder {
  padding-left: 10px;
  font-size: 16px;
}
.profile__card-btn {
  width: 150px;
  height: 40px;
  background-color: var(--action-color);
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
}
/*.profile__card-btn:hover {*/
/*  background-color: var(--action-color-hover);*/
/*}*/
.profile__buttons1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile__buttons2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.profile__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-inline: 50px;
}

.btnSave {
  background-color: var(--action-color);
}
.btnSave:hover {
  background-color: var(--action-color-hover);
}
.btnRemove {
  background-color: #FF4B2B;
}
.btnRemove:hover {
  background-color: #FF416C;
}

.patient {
  margin-top: 2%;
  font-size: 28px;
  padding: 0 10px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.patient__content {
  background-color: var(--app-content-secondary-color);
  border-radius: 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  column-gap: 25px;
  row-gap: 50px;
  align-items: center;
}
.patient__content_user {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.patient__content_info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 767px) {
  .patient__content_info {
    flex-direction: column;
    row-gap: 15px;
  }
}
.patient__content-TextField {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  color: var(--app-content-main-color);
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}
@media (max-width: 767px) {
  .patient__content-TextField {
    text-align: left;
  }
}
.patient__content-TextName {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  color: var(--app-content-main-color);
  padding-left: 20px;
  font-size: 26px;
  text-align: center;
}
.patient__content-TextID {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  color: var(--app-content-main-color);
  float: right;
  font-size: 18px;
  opacity: 0.7;
  font-weight: normal;
  text-align: right;
}
.patient__content-btn {
  width: 150px;
  height: 40px;
  background-color: var(--action-color);
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
}
.patient__content-btn:hover {
  background-color: var(--action-color-hover);
}

/*# sourceMappingURL=styles.css.map */
