{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="app-content-header">
        <h1 class="app-content-headerText">Профиль</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <a style="display: flex; align-items: center;"
           class="app-content-headerButton" href="{% url "admin:index" %}">Админка</a>
    </div>

    <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile">
            <div class="profile__image">
{#                <img src="{% static "images/baseavatar.jpg" %}" alt="avatar">#}
                {% if user.image %}
                    <img src="{{ user.image.url }}" alt="avatar">
                {% else %}
                    <img src="{% static "images/baseavatar.jpg" %}" alt="avatar">
                {% endif %}
            </div>
            <div class="profile__card">
                <label for="role" class="profile__card-label">Роль
                    {{ form.role }}
                </label>
                <label for="first_name" class="profile__card-label">Имя
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        {{form.first_name.errors}}
                    {% endif %}
                </label>
                <label for="username" class="profile__card-label">Фамилия
                    {{ form.username }}
                    {% if form.username.errors %}
                        {{form.username.errors}}
                    {% endif %}
                </label>
                <label for="telegram" class="profile__card-label">Телеграм
                    {{ form.telegram }}
                    {% if form.telegram.errors %}
                        {{form.telegram.errors}}
                    {% endif %}
                </label>
                <label for="email" class="profile__card-label">E-mail
                    {{ form.email }}
                    {% if form.email.errors %}
                        {{form.email.errors}}
                    {% endif %}
                </label>
{#                <label for="telegram" class="profile__card-label">Телефон#}
{#                    <input type="text" class="profile__card-input" id="id_phone" maxlength="11"#}
{#                            name="phone"#}
{#                            placeholder="8 900 000 00-00"#}
{#                            value="{{ form.phone.value }}"#}
{#                            required>#}
{#                    {% if form.phone.errors %}#}
{#                        {{form.phone.errors}}#}
{#                    {% endif %}#}
{#                </label>#}

            </div>
        </div>
            <div class="profile__buttons">
                <button type="submit" class="profile__card-btn btnSave">Сохранить</button>
                <button type="button" class="profile__card-btn btnRemove">Удалить</button>
            </div>
    </form>
{% endblock %}