{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="app-content-header">
        <h1 class="app-content-headerText">Главная</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
    <div class="dashboard">
        <div class="device-block">
            <div class="device-dashboard" title="нажмите, чтобы перейти к устройству">
                <div class="device__block" id="11111">
                    <img src="/static/images/test.svg" alt="test"
                         width="580" height="893" class="device__block_image">
                    <div class="device__block_content">
                        <p class="device__block_text-main">Таблетница</p>
                        <p class="device__block_text-description">MedIBox_v2</p>
                        <button class="device__block_button">Подключиться</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-block">
            <div class="user">
                <h2>Здравствуйте, <span>{{ user.username }}</span></h2>
                <h2 id="timeField">Сейчас: <span>00:00</span></h2>
            </div>
        </div>
        <div class="patient-block">
            {{ next_taking }}
        </div>
    </div>
    <link rel="stylesheet" href="{% static "css/dashboardStyle.css" %}">
    <script src="{% static "scripts/script_dashboard.js" %}"></script>
{% endblock %}