{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="app-content-header">
        <h1 class="app-content-headerText">Главная</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
{#    <div class="content_patient" style="display: grid; grid-template-columns: repeat(3, 1fr)">#}
{#        <div class="products-area-wrapper tableView">#}
{#            <div class="products-header">#}
{#                <div class="product-cell image">ФИО</div>#}
{#                <div class="product-cell category">Группа</div>#}
    {#            <div class="product-cell sales">Количество воды</div>#}
{#                <div class="product-cell price">id</div>#}
{#            </div>#}
{#            {% for p in patients %}#}
{#                <a class="products-row">#}
{#                    <div class="product-cell image">#}
{#                    <span>{{ p.username }} {{ p.first_name }}</span>#}
{#                    </div>#}
    {#                <div class="product-cell category">{{ group }}</div>#}
{#                    <div class="product-cell category">{{ p.groups }}</div>#}
    {#                <div class="product-cell sales">{{ p.portion_of_water }}</div>#}
{#                    <div class="product-cell stock">{{ p.display_id }}</div>#}
{#                </a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}